<h3>
    {{vm.title}}
</h3>
        <div class="panel panel-default">
        <table ng-table="vm.tableParams" show-filter="false" class="table">
            <tbody>
            <tr ng-repeat="result in $data">
                <td data-title="'Imie'" sortable="'id'">{{result.id}}</td>
                <td data-title="'Nazwisko'" sortable="'lastName'">{{result.lastName}}</td>
                <!--<td data-title="'Kolejka'" sortable="'nazwaKolejki'">{{item.nazwaKolejki}}</td>
                <td data-title="'Organ'" sortable="'organ'">{{item.organ}}</td>
                <td data-title="'Status'" sortable="'status'">{{item.status}}</td>
                <td data-title="'Użytkownik'" sortable="'loginUser'">{{item.loginUser}}</td>
                <td data-title="'Data przypisania'" sortable="'dataPrzypisania'">
                    {{item.dataPrzypisania | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td data-title="'Termin'" sortable="'termin'">
                    {{item.termin | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td data-title="'Akcja'">
                    <div class="pull-right" ng-if="vm.showDetailsBtn(item)" is-user="{{item.loginUser}}">
                        <button type="button" class="btn btn-angle btn-sm"
                                ng-click="vm.showDetails(item.id, item.idPisma)">
                            Podgląd
                        </button>
                    </div>
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
